div.jumbotron.center
  h1 Hello, World!
  h2 
    | This is the home page for the 
    = link_to "Ruby on Rails Tutorials", "http://railstutorial.org"
    |  sample application

  = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" 

  



= link_to image_tag("rails.png", alt: "Rails") , 'http://rubyonrails.org' 
